body{

  background-color: rgb(240, 240, 240);
  
  
}

#titulo ul {
    
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
  
#titulo li { 
  display: inline;
  position: relative;
  left: 675px;
 }

 #titulo ul li a {
  padding: 2px 10px;
  font-size: 25px;
  
  
}

a:link {text-decoration: none;}
a:link {color: red;}
a:visited {color: rgb(172, 175, 172);}
a:hover {color: rgb(58, 59, 107);}
a:active {color: orange;}


table, th, td{
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 20px;
}

#conne{
  background-image: url(img/Music_Disc_Cat_JE1_BE1.png);
}


.logo {
  
  position: relative;
  left: 45%;
  width: 200px;
  height: 200px;
 

}

h3{
  color: rgb(58, 59, 107);
}
 
footer{
  background-color: rgb(58, 59, 107) ;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   color: white;
   text-align: center;
}

p, h1, h2, h3{

  font-family:sans-serif;
  
}
 

  